<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>treatDrug</key>
		<string>布洛芬</string>
		<key>treatDrugNumber</key>
		<string>2</string>
		<key>treatTime</key>
		<string>1</string>
		<key>treatDate</key>
		<string>201501120630</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>布洛芬</string>
		<key>treatDrugNumber</key>
		<string>3</string>
		<key>treatTime</key>
		<string>2</string>
		<key>treatDate</key>
		<string>201502120630</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>布洛芬</string>
		<key>treatDrugNumber</key>
		<string>3</string>
		<key>treatTime</key>
		<string>2</string>
		<key>treatDate</key>
		<string>201511120630</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>布洛芬</string>
		<key>treatDrugNumber</key>
		<string>3</string>
		<key>treatTime</key>
		<string>2</string>
		<key>treatDate</key>
		<string>201511130630</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>布洛芬</string>
		<key>treatDrugNumber</key>
		<string>3</string>
		<key>treatTime</key>
		<string>1</string>
		<key>treatDate</key>
		<string>201511130830</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>布洛芬</string>
		<key>treatDrugNumber</key>
		<string>3</string>
		<key>treatTime</key>
		<string>1</string>
		<key>treatDate</key>
		<string>201511170830</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>布洛芬</string>
		<key>treatDrugNumber</key>
		<string>3</string>
		<key>treatTime</key>
		<string>1</string>
		<key>treatDate</key>
		<string>201511171230</string>
	</dict>
	<dict>
		<key>treatDrug</key>
		<string>布洛芬</string>
		<key>treatDrugNumber</key>
		<string>3</string>
		<key>treatTime</key>
		<string>2</string>
		<key>treatDate</key>
		<string>201511161230</string>
	</dict>
</array>
</plist>
